@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
}

:root {
  --softBlue: hsl(231, 69%, 60%);
  --softRed: hsl(0, 94%, 66%);
  --grayishBlue: hsl(229, 8%, 60%);
  --veryDarkBlue: hsl(229, 31%, 21%);
}

/* NAVBAR */
header {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}


ul {
  list-style: none;
  display: flex;
  align-items: baseline;
}

a {
  text-decoration: none;
  color: var(--veryDarkBlue);
  cursor: pointer;
  font-size: 0.8rem;

}

li {
  align-items: center;
  margin-left: 50px;
}

li button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.7rem;
  transition: all 0.3s ease-in-out;
  background-color: var(--softRed);
  color: white;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  letter-spacing: 2px;
    border: none;

}

#logo{
    margin-top: 10px;
}

/* CONTENIDO UNO  */
.contenido_uno{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;

}

.contenido_uno_txt{
    margin-left: 10%;
}

.contenido_uno_txt h1{
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--veryDarkBlue);
    margin-top: 50px;
}

.contenido_uno_txt p{
    margin-top: 20px;
    color: var(--grayishBlue);
    letter-spacing: 0.5px;
}

.contenido_uno_btn{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 20px;
}

.contenido_uno_btn button{
    border-radius: 5px;
    width: 40%;
    height: 45px;
    font-size: 0.7rem;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.btn_uno{
    background-color: var(--softBlue);
    color: white;
}
.btn_dos{
    color: --veryDarkBlue;
}